# Preprocessing

In [15]:
%run my_functions.py

[nltk_data] Downloading package stopwords to C:\Users\Annelie
[nltk_data]     Schridde\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package vader_lexicon to C:\Users\Annelie
[nltk_data]     Schridde\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Annelie
[nltk_data]     Schridde\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Annelie
[nltk_data]     Schridde\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\Annelie
[nltk_data]     Schridde\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
with open("../dataframes/raw_data_Books_00.pkl", "rb") as f:
    df = pickle.load(f)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10236850 entries, 0 to 10236849
Data columns (total 15 columns):
 #   Column             Dtype
---  ------             -----
 0   marketplace        object
 1   customer_id        int64
 2   review_id          object
 3   product_id         object
 4   product_parent     int64
 5   product_title      object
 6   product_category   object
 7   star_rating        object
 8   helpful_votes      float64
 9   total_votes        float64
 10  vine               object
 11  verified_purchase  object
 12  review_headline    object
 13  review_body        object
 14  review_date        object
dtypes: float64(2), int64(2), object(11)
memory usage: 1.1+ GB

In [4]:
df.shape

(10236850, 15)

In [5]:
df.describe()

        customer_id  product_parent  helpful_votes   total_votes
count  1.023685e+07    1.023685e+07   1.023676e+07  1.023676e+07
mean   2.882780e+07    5.007454e+08   1.478636e+00  2.169758e+00
std    1.536474e+07    2.880373e+08   1.176415e+01  1.412035e+01
min    1.002400e+04    5.760000e+02   0.000000e+00  0.000000e+00
25%    1.505774e+07    2.533822e+08   0.000000e+00  0.000000e+00
50%    2.795675e+07    5.004837e+08   0.000000e+00  0.000000e+00
75%    4.324887e+07    7.493383e+08   1.000000e+00  2.000000e+00
max    5.309658e+07    9.999988e+08   6.244000e+03  6.534000e+03

## Verification of Sold Item

In [6]:
df.verified_purchase.value_counts()

Y    7388390
N    2848367
Name: verified_purchase, dtype: int64

In [7]:
df = df[df["verified_purchase"] == "Y"] # use only verified ones

In [8]:
df

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
0,US,25933450,RJOVP071AVAJO,0439873800,84656342,There Was an Old Lady Who Swallowed a Shell!,Books,5,0.0,0.0,N,Y,Five Stars,I love it and so does my students!,2015-08-31
1,US,1801372,R1ORGBETCDW3AI,1623953553,729938122,I Saw a Friend,Books,5,0.0,0.0,N,Y,"Please buy ""I Saw a Friend""! Your children wil...",My wife and I ordered 2 books and gave them as...,2015-08-31
2,US,5782091,R7TNRFQAOUTX5,142151981X,678139048,"Black Lagoon, Vol. 6",Books,5,0.0,0.0,N,Y,Shipped fast.,Great book just like all the others in the ser...,2015-08-31
4,US,14005703,R2NYB6C3R8LVN6,1604600527,800572372,Stars 'N Strips Forever,Books,5,2.0,2.0,N,Y,Five Stars,Enjoyed the author's story and his quilts are ...,2015-08-31
7,US,16519255,R2MC0N30WZMRQ5,0671728725,821650353,Knowing When to Stop: A Memoir,Books,5,0.0,0.0,N,Y,Five Stars,I love it!,2015-08-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10236833,US,47598274,ROXETEWDE85PH,B0006QMIT4,440927056,Trolls to crochet (Leisure Arts craft leaflet),Books,5,1.0,1.0,N,Y,Definitely cute,Well written pattern from Leisure Arts. Works ...,2012-05-03
10236834,US,25691512,R1S0DD24JCYRPW,1890087025,714560100,The Conscientious Marine Aquarist: A Commonsen...,Books,5,0.0,0.0,N,Y,"Excellent, helpful, perfect","This book arrived quickly, bought it for my hu...",2012-05-03
10236835,US,18494503,R2LWXN56OLLCOC,1608205584,103060807,Always Faithful (Home),Books,5,0.0,0.0,N,Y,Witty Dialogues and Optimism,William Neale is my preferred author in Gay Ro...,2012-05-03
10236837,US,44660442,R1XL8F3AY96NV3,059652952X,213740766,Mac OS X Leopard: The Missing Manual,Books,4,0.0,1.0,N,Y,Pogue's Missing Manual for Leopard,The manual is written in the same fashion as a...,2012-05-03
10236838,US,47777759,R2MFNDMGEB11T8,0976457490,334674220,The Day of the LORD is at Hand Second Edition,Books,5,2.0,3.0,N,Y,EXCELLENT! HIGHLY RECOMMENDED!!!,I highly recommend this book. It is very well...,2012-05-03

In [9]:
df[pd.isna(df['review_date']) == True]

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
3814,US,22695030,R1RG1NICKSQPP5,0062210025,425070841,Justice League Classic: Meet the Justice Leagu...,Books,5,0.0,0.0,N,Y,The kids loved it.\tWe bought this for our su...,2015-08-31,NaN
13037,US,20635388,R1Z5BSC3OWCAIR,0736916830,375524951,Secrets of an Irresistible Woman: Smart Rules ...,Books,5,1.0,1.0,N,Y,Now I enjoy sharing it with others\tThis book...,2015-08-30,NaN
55868,US,27140953,R2PFX3NAJL1PTV,0062409859,652741483,Go Set a Watchman: A Novel,Books,5,0.0,3.0,N,Y,"I just finished reading this wonderful book, ...",2015-08-26,NaN
166770,US,47128457,R13RGOI29XK73F,006232778X,419780959,Your Health Destiny: How to Unlock Your Natura...,Books,5,2.0,3.0,N,Y,All of Dr Eva Selhub works are amazing. I hav...,2015-08-16,NaN
189849,US,17802247,R2T0XG2CWHUWMA,0684835460,860942102,The Best Interests of the Child: The Least Det...,Books,5,0.0,0.0,N,Y,These three books are useful to a guide for l...,2015-08-14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10105811,US,52975306,R1XMRSWN7OLIVO,0811216993,359539404,Labyrinths (New Directions Paperbook),Books,4,2.0,2.0,N,Y,The beginner with Borges can find a seductive ...,2012-06-08,NaN
10115844,US,32749437,R1DUDSY0VCD4F6,095682370X,484410867,I Am: A Journey To Spiritual Enlightenment,Books,5,3.0,3.0,N,Y,"I Am\t\\ I Am\\"" is a story of learning about...",2012-06-05,NaN
10160160,US,18249181,R22XP2PFDUA9XD,0312564562,434117516,"QuickieChick's Cheat Sheet to Life, Love, Food...",Books,5,3.0,3.0,N,Y,"Things Mom Would Have Told Me, If I'd Asked.\t...",2012-05-24,NaN
10226688,US,20712391,R3HGZ957KHI5IU,0743269519,783953685,The 7 Habits of Highly Effective People: Power...,Books,5,1.0,8.0,N,Y,"Eat To Live by Joel Fuhrman, MD\tI have used t...",2012-05-05,NaN
10234218,US,22068619,R3UBY0941YAD91,0830746897,605411969,The Purpose of Man: Designed to Worship,Books,5,5.0,5.0,N,Y,The Lord is in His Holy Temple...\t...let all ...,2012-05-03,NaN

In [10]:
from datetime import datetime
import math
df = df[pd.isna(df["review_date"]) == False]
for date in df["review_date"].astype("str"):
        datetime.strptime(date, "%Y-%M-%d")
print(df)

         marketplace  customer_id       review_id  product_id  product_parent  \
0                 US     25933450   RJOVP071AVAJO  0439873800        84656342
1                 US      1801372  R1ORGBETCDW3AI  1623953553       729938122
2                 US      5782091   R7TNRFQAOUTX5  142151981X       678139048
4                 US     14005703  R2NYB6C3R8LVN6  1604600527       800572372
7                 US     16519255  R2MC0N30WZMRQ5  0671728725       821650353
...              ...          ...             ...         ...             ...
10236833          US     47598274   ROXETEWDE85PH  B0006QMIT4       440927056
10236834          US     25691512  R1S0DD24JCYRPW  1890087025       714560100
10236835          US     18494503  R2LWXN56OLLCOC  1608205584       103060807
10236837          US     44660442  R1XL8F3AY96NV3  059652952X       213740766
10236838          US     47777759  R2MFNDMGEB11T8  0976457490       334674220

                                              product_title product_category  \
0              There Was an Old Lady Who Swallowed a Shell!            Books
1                                            I Saw a Friend            Books
2                                      Black Lagoon, Vol. 6            Books
4                                   Stars 'N Strips Forever            Books
7                            Knowing When to Stop: A Memoir            Books
...                                                     ...              ...
10236833     Trolls to crochet (Leisure Arts craft leaflet)            Books
10236834  The Conscientious Marine Aquarist: A Commonsen...            Books
10236835                             Always Faithful (Home)            Books
10236837               Mac OS X Leopard: The Missing Manual            Books
10236838      The Day of the LORD is at Hand Second Edition            Books

         star_rating  helpful_votes  total_votes vine verified_purchase  \
0                  5            0.0          0.0    N                 Y
1                  5            0.0          0.0    N                 Y
2                  5            0.0          0.0    N                 Y
4                  5            2.0          2.0    N                 Y
7                  5            0.0          0.0    N                 Y
...              ...            ...          ...  ...               ...
10236833           5            1.0          1.0    N                 Y
10236834           5            0.0          0.0    N                 Y
10236835           5            0.0          0.0    N                 Y
10236837           4            0.0          1.0    N                 Y
10236838           5            2.0          3.0    N                 Y

                                            review_headline  \
0                                                Five Stars
1         Please buy "I Saw a Friend"! Your children wil...
2                                             Shipped fast.
4                                                Five Stars
7                                                Five Stars
...                                                     ...
10236833                                    Definitely cute
10236834                        Excellent, helpful, perfect
10236835                       Witty Dialogues and Optimism
10236837                 Pogue's Missing Manual for Leopard
10236838                  EXCELLENT!  HIGHLY RECOMMENDED!!!

                                                review_body review_date
0                        I love it and so does my students!  2015-08-31
1         My wife and I ordered 2 books and gave them as...  2015-08-31
2         Great book just like all the others in the ser...  2015-08-31
4         Enjoyed the author's story and his quilts are ...  2015-08-31
7                                                I love it!  2015-08-31
...                                                     ...         ...
10236833  Well written pattern from Leisure Arts. Works ...  2012-05-03
10236834  This book arrived quickly, bought it for my hu...  2012-05-03
10236835  William Neale is my preferred author in Gay Ro...  2012-05-03
10236837  The manual is written in the same fashion as a...  2012-05-03
10236838  I highly recommend this book.  It is very well...  2012-05-03

[7387926 rows x 15 columns]

In [17]:
df = df[df["review_date"] >= "2015-01-01"] # only one year of data

In [18]:
df.shape

(2186954, 15)

In [25]:
np.random.seed(42)
df.sample(frac = 1)[:100000]

,marketplace,customer_id,review_id,product_id,product_parent,product_title,product_category,star_rating,helpful_votes,total_votes,vine,verified_purchase,review_headline,review_body,review_date
381628,US,15187657,R3AFTDY3CYY5GQ,0300117876,156757741,Louis Comfort Tiffany and Laurelton Hall: An A...,Books,4,2.0,3.0,N,Y,A Fabulous Era Gone and Not Well Dicumented,There weren't as many photos of the interior o...,2015-07-27
528174,US,3142070,R2A2SKH959I0SH,125007181X,899681967,Your Baby's First Word Will Be DADA,Books,5,0.0,1.0,N,Y,Five Stars,I ❤️ Jimmy Fallon!,2015-07-13
833920,US,48828935,R3UPWSF5FU3U4F,1577312406,76490439,"Creative Visualization Meditations (Gawain, Sh...",Books,5,0.0,0.0,N,Y,just what I needed,very helpful positive and relaxing,2015-06-14
1122740,US,44622494,R1C0PC8C5V0WAV,1507810857,122451147,Crack the CORE Exam - Case Companion,Books,5,1.0,2.0,N,Y,Five Stars,great buy,2015-05-17
561620,US,17426112,R3OBY8ONUOWSTE,0312193262,32125221,"The Royal House of Monaco: Dynasty of Glamour,...",Books,5,0.0,0.0,N,Y,2nd Hand Book but just like new.,This book was in near new condition with few s...,2015-07-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1646527,US,51535883,R10XBBQW39V2LP,1118065522,342697466,The Alpha Masters: Unlocking the Genius of the...,Books,4,1.0,1.0,N,Y,must read,good book must read of any one in the industry.,2015-03-29
2016363,US,46931494,RRCV1656L1IZ4,0992752515,423034475,The Secret Dinosaur #2: Hunters Attack! (The D...,Books,5.0,0.0,0.0,N,Y,He was happy with it,For my kid brother. He was happy with it.,2015-02-26
313845,US,22533632,RTJ7KUKOZEKD0,0803741715,358721563,The Book with No Pictures,Books,5,0.0,0.0,N,Y,Great!!!! Love it!,What an adorable book! I wasn't familiar with ...,2015-08-03
2596173,US,16951689,RUGSJ5SR787H5,0984042393,68900593,Project Nemesis (a Kaiju Thriller),Books,5,0.0,0.0,N,Y,The birth of a new legend,There haven't been many great kaiju gracing th...,2015-01-11
642824,US,49071784,R3DGRH9FNQEKAH,0393708403,729698926,"The Therapeutic ""Aha!"": 10 Strategies for Gett...",Books,5,1.0,2.0,N,Y,Five Stars,courtney is amazing,2015-07-02

In [27]:
np.random.seed(42)
df = df.sample(frac = 1)[:100000]

In [28]:
with open("../dataframes/raw_data_Books_00_short_shuffled.pkl", "wb") as f:
    pickle.dump(df, f)

In [16]:
with open("../dataframes/raw_data_Books_00_short_shuffled.pkl", "rb") as f:
    df = pickle.load(f)

In [17]:
def autocorrection(review):
    corrected_words = []

    spell_corrector = Speller(lang="en")
    for word in word_tokenize(review):
        correct_word = spell_corrector(word)
        corrected_words.append(correct_word)
    
    correct_spelling = " ".join(corrected_words)
    return correct_spelling

In [19]:
df["review_body"] = [autocorrection(review) for review in df["review_body"].astype("str")]

In [ ]:
def expand_contractions(review):
    '''example: change doesn't to does not'''
    expanded_words = []
    for word in review.split():
        expanded_words.append(contractions.fix(word))
    expanded_review = " ".join(expanded_words)
    return expanded_review

In [ ]:
df["review_body"] = [expand_contractions(review) for review in df["review_body"].astype("str")]

In [ ]:
df["review_body_clean"] = clean_complete(df["review_body"].astype("str"))

In [ ]:
def rm_single_char(review):
    pattern = r'\s+[a-zA-Z]\s+'
    removed_char = re.sub(pattern=pattern, repl = " ", string=review)
    return removed_char

In [ ]:
df["review_body_clean"] = [rm_single_char(review) for review in df["review_body_clean"].astype("str")]

In [5]:
def lemmatize(review):
    '''
    review: pandas series
    should be applied on the cleaned review to transform words to their initial base form.
    For example: suggests -> suggest, deliveries -> delivery
    '''
    nlp = spacy.load("en_core_web_sm")
    review = [nlp(c) for c in review]
    review = [" ".join([token.lemma_ for token in t]) for t in review]
    return review

In [6]:
df["body_lemma"] = lemmatize(df["review_body_clean"])

Error: Canceled future for execute_request message before replies were done

In [ ]:
df["body_lemma"]

381628     weren photo interior house hope quality photo ...
528174                                          jimmy fallon
833920                             helpful positive relaxing
1122740                                            great buy
561620     book near new condition sign wear tear great r...
                                 ...
1646527                              good book read industry
2016363                                    kid brother happy
313845     adorable book wasn familiar author long purcha...
2596173    haven great kaiju gracing shore debate king ko...
642824                                      courtney amazing
Name: body_lemma, Length: 100000, dtype: object

In [ ]:
df["review_head_clean"] =  [doc.str.replace(r'star', '') for doc in df["review_headline"]]
df["review_head_clean"] = clean_complete(df["review_headline"].astype("str"))
df["head_lemma"] = lemmatize(df["review_head_clean"])

In [ ]:
df['head_lemma']

381628     fabulous era go dicumente
528174                          star
833920                          need
1122740                         star
561620            hand book like new
                     ...
1646527                         read
2016363                        happy
313845                    great love
2596173             birth new legend
642824                          star
Name: head_lemma, Length: 100000, dtype: object

In [ ]:
df["combined_clean"] = df["head_lemma"] + " " + df["body_lemma"]

In [ ]:
df

In [40]:
with open("../dataframes/raw_data_Books_00_lemma_short_shuffled_lemma.pkl", "wb") as f:
    pickle.dump(df, f)

In [42]:
from sklearn.decomposition import LatentDirichletAllocation

number_of_topics = 9

model = LatentDirichletAllocation(n_components=number_of_topics, random_state=0)

In [43]:
model.fit(tf)

LatentDirichletAllocation(n_components=9, random_state=0)

In [44]:
#	Calculate approximate log-likelihood as score.
model.score(tf)

-10584827.049054366

In [45]:
def display_topics(model, feature_names, no_top_words):
    """a function which takes in our model object model, the order of the words in our matrix tf_feature_names and the number of words we would like to show. Use this function, which returns a dataframe, to show you the topics we created. Remember that each topic is a list of words/tokens and weights"""
    topic_dict = {}
    for topic_idx, topic in enumerate(model.components_):
        topic_dict["Topic %d words" % (topic_idx)]= ['{}'.format(feature_names[i])
                        for i in topic.argsort()[:-no_top_words - 1:-1]]
        topic_dict["Topic %d weights" % (topic_idx)]= ['{:.1f}'.format(topic[i])
                        for i in topic.argsort()[:-no_top_words - 1:-1]]
    return pd.DataFrame(topic_dict)

In [46]:
no_top_words = 10
display_topics(model, tf_feature_names, no_top_words)

,Topic 0 words,Topic 0 weights,Topic 1 words,Topic 1 weights,Topic 2 words,Topic 2 weights,Topic 3 words,Topic 3 weights,Topic 4 words,Topic 4 weights,Topic 5 words,Topic 5 weights,Topic 6 words,Topic 6 weights,Topic 7 words,Topic 7 weights,Topic 8 words,Topic 8 weights
0,book,4574.0,love,13908.7,book,6745.0,book,11659.9,book,8966.0,star,35748.8,good,21903.7,book,6216.0,book,9614.8
1,history,2907.2,book,12426.0,great,4045.0,page,3593.7,story,8846.3,great,14066.9,book,17834.5,life,4841.4,read,8775.6
2,war,1693.5,great,4116.0,easy,3519.6,like,3032.9,read,5468.1,book,11011.7,read,11991.8,"""",2489.9,child,3549.4
3,author,1671.0,year,4100.4,recipe,3393.1,bible,2120.5,character,4913.4,excellent,5006.0,star,9284.3,read,2273.3,story,3457.2
4,work,1514.1,old,3827.9,information,2613.1,cover,1999.5,like,4727.9,love,3797.9,great,4510.2,god,2255.8,recommend,3008.7
5,write,1442.6,buy,3440.9,lot,1754.3,study,1834.9,love,3772.4,thank,3558.8,enjoy,1793.2,people,2162.3,write,2830.2
6,american,1289.1,gift,3359.2,use,1554.9,buy,1661.5,series,2884.2,condition,2852.1,series,1789.6,’s,2043.1,interesting,2635.5
7,research,1214.6,kid,2659.3,guide,1441.6,look,1601.1,write,2591.7,awesome,2044.5,lot,1253.0,way,2004.4,great,2375.7
8,world,1136.7,son,2281.7,follow,1421.0,use,1487.6,novel,2462.5,fast,1552.9,reading,1174.4,know,1924.0,wonderful,2329.8
9,excellent,1115.4,daughter,2269.8,like,1371.2,need,1439.7,time,2389.7,arrive,1514.5,love,981.1,time,1783.6,fun,2316.5